<h1> Team </h1>
<p>Brandon Pesante is the creator of this page. He is learning to build websites and this is his first project. His next project is going to be a personl page for himself so he could learn other things to do!</p>
<p> Thanks to <%= link_to "One Month Rials", "http://onemonthrails.com" %> for the help </p> 
